<div class="container is-fluid level-item">
    <img src="/assets/images/headerimage.png" alt="">
</div><div class="container">
<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img id="logo" src="/assets/images/images.jpeg" alt="cat&dog" width="100" height="55" >
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="https://bulma.io/">
                Home
            </a>
            <div class="navbar-item">
            <a class="button is-info">Scrape Kittens</a>
            </div>
            <div class="navbar-item">
                <a class="button is-info">Scrape Puppies</a>
            </div>
        </div>
        <div>{{head}}</div>

        <div class="navbar-end">
        <div class="navbar-item">
            <a class="button is-primary">Saved</a>
        </div>
        <div class="navbar-item">
            <a class="button is-link">Kittens</a>
        </div>
        <div class="navbar-item">
            <a class="button is-link">Puppies</a>
        </div>
        </div>
    </div>
</nav>
</div>
