<div class="container is-fluid level-item">
    <img src="/assets/images/headerimage.png" alt="">
</div><div class="container">
<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img id="logo" src="/assets/images/images.jpeg" alt="cat&dog" width="100" height="55" >
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
            <a class="button is-info" id="scrape-kitten">Scrape Kittens</a>
            </div>
            <div class="navbar-item">
                <a class="button is-info" id="scrape-puppy">Scrape Puppies</a>
            </div>
        
        </div>
        <div class="navbar-item">
            <div> <p class="title is-2 is-spaced" id="head">{{head}}</p></div>
        </div>

        <div class="navbar-end">
        <div class="navbar-item">
            <a class="button is-primary" href="/saved" id="saved">Saved</a>
        </div>
        <div class="navbar-item">
            <a class="button is-link" href="/kittens" id="kittens">Kittens</a>
        </div>
        <div class="navbar-item">
            <a class="button is-link" href="/puppies" id="puppies">Puppies</a>
        </div>
        </div>
    </div>
</nav>
</div>
